<h2>Please login into your account:</h2>

<div *ngIf="login">
  <form (ngSubmit)="login()" ngNativeValidate>
    <table>
      <tr>
        <td><label for="username">Username</label></td>
        <td><input [(ngModel)]="user.user.username" id="username" name="username" required/></td>
      </tr>
      <tr>
        <td><label for="password">Password</label></td>
        <td><input [(ngModel)]="user.user.password" id="password" name="password" required/></td>
      </tr>
    </table>

    <button type="submit">Login</button>
  </form>
</div>
